* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
    text-decoration: none;
    list-style-type: none;
}

body {
    background-image: url(../assets/img/bg/bg.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow-x:hidden;
}

header {
    border-bottom: solid 3px #aa0050;
    min-height: 15vh;
}

.img-logo {
    width: 50vh;
}

main {
    min-height: 50vh;
}

.cards-fix {
    object-fit:cover;
    min-height: 30rem;
    max-height: 30rem;
    width: 15rem;
}

.card-img-top {
    object-fit:cover;
    min-height: 12rem;
    max-height: 12rem;
}

footer {
    min-height: 10vh;
}

.a-nav-inferior-r{
    font-weight: 600;
    color: #f00;
}

.a-nav-inferior-w{
    font-weight: 600;
    color: #fff;
}

.a-nav-inferior-b{
    font-weight: 600;
    color: #00f;
}

.thead-color{
    background-color: #aa0050;
}

.tbody-text{
    color: #0b80df;
}

.ftr-logo{
    width: 50px;
}

.ftr-a{
    color: #aa0050;
}
