* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
    text-decoration: none;
    list-style-type: none;
}

body {
    background-image: url(../assets/img/bg/bg.jpg);
    background-size: cover;
    background-position: center;
}

header {
    border-bottom: solid 3px #aa0050;
}

.img-logo {
    width: 50vh;
}

.a-nav-inferior-r{
    font-weight: 600;
    color: #f00;
}

.a-nav-inferior-w{
    font-weight: 600;
    color: #fff;
}

.a-nav-inferior-b{
    font-weight: 600;
    color: #00f;
}

.thead-color{
    background-color: #aa0050;
}

.tbody-text{
    color: #0b80df;
}

.ftr-logo{
    width: 50px;
}

.ftr-a{
    color: #aa0050;
}
