:root{
    --animate-delay: 0.5s;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
    text-decoration: none;
}

body{
    background-image: url(../assets/img/background-website.jpg);
}

header{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
}

.logo{
    position: absolute;
    width: 110px;
    top: -0.5rem;
}

h1{
    position: absolute;
    color: #fff;
    font-size: 50px;
}

nav{
    width: 100%;
}

.nav-main{
    font-size: 25px;
    padding: 20px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
}

.nav-i{
    display: flex;
    margin: 15px;
    padding: 5px 10px;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    background-image: linear-gradient(
        to right,
        #fb0,
        #fb0 50%,
        #fff 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    position: relative;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    transition: all 0.5s ease-in-out;
}

nav a:before{
    content: '';
    background: #F3B200;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

nav a:hover {
    background-position: 0;
}
    
nav a:hover::before{
    width: 100%;
}

main{
    width: 100%;
}

.bkg{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}

.img-fig{
    width: 50%;
}

.bkg-right{
    display: flex;
    position: relative;
    left: -92px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.rls{
    width: 200.7px;
    color: #fff;
    background-color: transparent;
    border: 3px solid #fff;
    margin-top: 10%;
    padding: 25px 25px;
    font-size: 18px;
    border-radius: 25px;
    text-decoration: none;
}

.rls:hover{
    color: #000;
    background-color: #fb0;
    cursor: pointer;
}

.gi{
    width: 200.7px;
    color: #000;
    background-color: #fff;
    border: 3px solid #fff;
    margin-top: 10%;
    padding: 25px 25px;
    font-size: 18px;
    border-radius: 25px;
    text-decoration: none;
}

.gi:hover{
    color: #fb0;
    background-color: transparent;
    cursor: pointer;
}

section{
    background-color: #000;
    text-align: center;
    justify-content: center;
    color: #fb0;
    display: flex;
    flex-direction: column;
}

h2{
    padding: 15px 15px 10px;
    margin: 25px 25px 10px;
    font-size: 40px;
}

.articles{
    padding: 10px;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 2rem;
}

p{
    color: #fff;
}

.article-gi{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h3{
    font-size: x-large;
}

.h3-rls{
    padding: 30px 5px 10px;
}

.p-rls{
    text-align: center;
    text-indent: 15px;
}

.h3-gi, .p-gi{
    padding: 5px;
    font-style: oblique;
    text-align: start;
    text-indent: 570px;
}

.h4-gi{
    text-indent: -28rem;
    text-decoration: underline;
}

table{
    height: 20vh;
    width: 40rem;
    caption-side: bottom;
    border-spacing: 10px;
    border-collapse: collapse;
    text-align: center;
}

table{
    border: #fb0 groove 1px;
}

table, th, td{
    padding: 10px;
}

.no-strong{
    font-weight: 400;
    color: #fff;
}

.no-color{
    color: #fff;
}

.list-in-list{
    padding-top: 15px;
}

.info-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 1% 0;
}

.info-main span{
    color: #fb0;
}

.info-main a{
    text-decoration: none;
    color: #fff;
}

.info-main a:hover{
    text-decoration: none;
    color: #00f;
}

address{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.info-p{
    width: 50%;
    text-align: center;
    font-size: 16px;
    line-height: 1.2em;
    color: #fff;
    margin: 1% 0;
}

.ubications{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.maps{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    gap: 3rem;
}

.map{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    color: #fff;
}

.form-labels{
    margin: 0.5rem;
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
    width: 80%;
    align-items: center;
}

.form-fieldsets{
    width: 40%;
    padding: 1rem;
    margin-top: 1rem;
    border: #fb0 0.1rem solid;
    text-align: center;
}

.btn{
    color: black;
    width: 20%;
    margin: 2rem 0 1rem 0;
    padding: 1rem;
    background-color:#fb0;
    font-size: 1rem;
    font-weight: bolder;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
    background-color: #000;
}

.ftr {
    color: #fff;
    font-weight: 100;
    font-size: 10px;
}

.none{
    text-indent: -10000px;
}
